extends layout

block content
  article#leaguesContainer 
     
     section#leagueList.box
        h2 Germany
        each league in leaguedata
          if league.league === 'BL1'
            h3
               a(data-url= league._links.teams.href, href='/teams?dataurl='+league._links.teams.href+'&league='+league.caption+'&season='+season)= league.caption
            a.standings(data-standings= league._links.leagueTable.href, href= '#', title= 'standings') 
          
        h2 Britain
        each league in leaguedata
          if league.league === 'PL'
            h3
               a(data-url= league._links.teams.href, href='/teams?dataurl='+league._links.teams.href+'&league='+league.caption+'&season='+season)= league.caption
            a.standings(data-standings= league._links.leagueTable.href, href= '#', title= 'standings') 
            
        h2 France
        each league in leaguedata
          if league.league === 'FL1'
            h3
               a(data-url= league._links.teams.href, href='/teams?dataurl='+league._links.teams.href+'&league='+league.caption+'&season='+season)= league.caption
            a.standings(data-standings= league._links.leagueTable.href, href= '#', title= 'standings') 
        
        h2 Italy
        each league in leaguedata
          if league.league === 'SA'
            h3
               a(data-url= league._links.teams.href, href='/teams?dataurl='+league._links.teams.href+'&league='+league.caption+'&season='+season)= league.caption
            a.standings(data-standings= league._links.leagueTable.href, href= '#', title= 'standings') 
        
        h2 Spain
        each league in leaguedata
          if league.league === 'PD'
            h3
               a(data-url= league._links.teams.href, href='/teams?dataurl='+league._links.teams.href+'&league='+league.caption+'&season='+season)= league.caption
            a.standings(data-standings= league._links.leagueTable.href, href= '#', title= 'standings') 
        
        h2 Netherlands
        each league in leaguedata
          if league.league === 'DED'
            h3
               a(data-url= league._links.teams.href, href='/teams?dataurl='+league._links.teams.href+'&league='+league.caption+'&season='+season)= league.caption
            a.standings(data-standings= league._links.leagueTable.href, href= '#', title= 'standings') 
            
        h2 Portugal
        each league in leaguedata
          if league.league === 'PPL'
            h3
               a(data-url= league._links.teams.href, href='/teams?dataurl='+league._links.teams.href+'&league='+league.caption+'&season='+season)= league.caption
            a.standings(data-standings= league._links.leagueTable.href, href= '#', title= 'standings') 
        
        p.note
           em Click a league name to see the teams and standings
        
        // need to do Champions League differently - api has no standings for it
        // h2 Europe
        // each league in leaguedata
          // if league.league === 'CL'
            h3
               a(data-url= league._links.teams.href, href='/teams?dataurl='+league._links.teams.href+'&league='+league.caption+'&season='+season)= league.caption
            a.standings(data-standings= league._links.leagueTable.href, href= '#', title= 'standings') 
            
     p.blurb.box This site displays current statistics for the most competitive West European football (soccer) leagues. Click on a league name on the left to get team and player stats. For current standings, just click the <span class="standings"></span> icon.      
     section#standings.box
        h2#leagueName 
        table
           thead
              tr
                 th
                 th team
                 th pts
                 th gp
                 th goals +
                 th goals -
                 th goal diff
                 th games
           tbody
           tfoot 
              tr.note
                 td(colspan= 8) 
                    em Click the <span class="games-played-icon"></span> icon to see a list of past games and scores, and pending games. 
     
     p#error.box
