extends layout

block content
   
    section.matchesContainer
        h2= teamName + ' Matches' 
        table.matchesTable
            each match in matches
                tr
                    td= match.homeTeam.name
                    td= match.awayTeam.name
                    td= match.score.fullTime.homeTeam
                    td= match.score.fullTime.awayTeam